//
// Description: Image styling
//

img {
	max-width: 100%;
}

.img--fit {
	display: block;
	max-width: none;
	width: 100%;
	height: auto;
}

// a block that holds a bg image
.img--bleed {
	min-height: 325px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	@include media-breakpoint-up(md) {
		min-height: 470px;
	}

	@include media-breakpoint-up(xl) {
		min-height: 700px;
	}
}