// Pagination with WP classes

.pagination {
	text-align: center;
	display: block;
	margin: 1em 0;

	.page-numbers {
		@include font-size(18);
		color: $color-text;
		line-height: 20px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 .2em;
		border-bottom: 2px solid transparent;

		&:hover {
			text-decoration: none;
			color: $color-brand;
		}

		&.current {
			border-bottom: 2px solid $color-brand;
		}

		&.prev,
		&.next {
			line-height: 0;
			font-size: 0; // hide default WP text
			text-decoration: none;

			&:before {
				font-family: 'icomoon';
				font-size: 20px;
				line-height: 20px;
				padding: 6px 2px;
				background: $color-reverse;
			}	
		}

		&.prev {
			&:before {
				content: "\e90b";
			}
		}

		&.next {
			&:before {
				content: "\e909";
			}
		}
	}
}