// Hide carousel before it was initialized
.carousel-1col,
.carousel-3col, 
.carousel-4col,
.carousel-6col,
.carousel-hero {
	visibility: hidden;
	opacity: 0;
	@include transition();

	&.slick-initialized {
		visibility: visible;
		opacity: 1;
	}
}


// different styling for the carousel in the hero
.carousel-hero {

	.slick-prev{
		left: 0;
	}

	.slick-next {
		right: 0;
	}
}