//
// Comments section
//

.comments {
	padding: 2em 0 1em;

	@include media-breakpoint-up(md) {
		padding: 3em 0 1.5em;
	}

	// comments list
	.comments__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	// comments singular list item
	.comments__item {
		background: $color-background;
		padding: 1em;
		margin-bottom: 1.5em;
	}
}