// hero layers animation that works with widgets/gsap-hero-animations.js

.hero-layers {
	position: relative;
	min-height: $hero-layers-height + $header-height;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		min-height: $hero-layers-height-md + $header-height-md;
	}

	@include media-breakpoint-up(lg) {
		min-height: $hero-layers-height-lg + $header-height-md;
	}

	@include media-breakpoint-up(xl) {
		min-height: $hero-layers-height-xl + $header-height-md;
	}

	.hero-layers__container {
		position: absolute;
		top: $header-height;
		bottom: 0;
		right: 15px;		
		left: 15px;

		@include media-breakpoint-up(lg) {
			right: 30px;		
			left: 30px;
		}

		@include media-breakpoint-up(xl) {
			max-width: 1280px;
			width: calc(100% - 60px);
			margin: 0 auto;
		}
	}

	// into text (centered on desktop horizontally and vertically)
	.hero-layers__intro {	
		position: absolute;
		top: 45%;
		right: 1em;		
		left: 1em;
		opacity: 0; // for gsap hero animation
		
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			bottom: 0;
		}
	}

	// full width images slideshow
	.hero-layers__slides {

		.hero-layers__img {
			height: $hero-layers-height;
			background-size: cover;
			background-position: 50% 50%;
			position: absolute;
			top: $hero-layers-height + $header-height;
			right: 0;
			left: 0;
			opacity: 0; // for gsap hero animation
			margin-top: 100px;

			@include media-breakpoint-up(md) {
				margin-top: 0;
				height: $hero-layers-height-md;
				top: $hero-layers-height-md + $header-height-md;
			}

			@include media-breakpoint-up(lg) {
				height: $hero-layers-height-lg;
				top: $hero-layers-height-lg + $header-height-md;
			}

			@include media-breakpoint-up(xl) {
				height: $hero-layers-height-xl;
				top: $hero-layers-height-xl + $header-height-md;
			}
		}
	}

	// two cols with text and media element (rhombuses and images)
	.hero-layers__two-col {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		@include media-breakpoint-up(md) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			margin: 0 -16px;

			> * {
				flex: 1;
				position: relative;
				margin: 0 16px;
			}
		}

		.hero-layers__title {
			margin-bottom: .75em;
			min-height: 75px;

			div, p {
				display: inline;
			}
		}

		// second column with rhombuses
		.rhombuses {
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;

			@include media-breakpoint-up(md) {
				bottom: auto;
				top: 50%;
				@include translate(0, -50%);
			}
			
			.rhombuses__item {
				top: -($hero-layers-height-xl + $header-height-md);
			}

			&, &.rhombuses.rhombuses--large {
				width: 65%;
				max-width: 230px;

				@include media-breakpoint-up(md) {
					max-width: none;
				}

			}
		}

		// second column with graphics 
		.hero-layers__graphics {
			position: relative;
			height: 205px; // random height to work well with current content
			margin-top: 1em;

			@include media-breakpoint-up(sm) {
				height: 235px; // random height to work well with current content
			}

			@include media-breakpoint-up(md) {
				margin-top: 0;
				height: $hero-layers-height-md;
			}

			@include media-breakpoint-up(lg) {
				height: $hero-layers-height-lg;
			}

			@include media-breakpoint-up(xl) {
				height: $hero-layers-height-xl;
			}

			.hero-layers__graphic-unit {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 1.5em;
				left: 0;
				display: block;
				color: $color-text;
				z-index: -10;

				.hero-layers__graphic-wrapper {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					overflow: hidden;	

					.hero-layers__graphic {
						position: absolute;
						top: 50%; // to accomodate image caption
						right: 0;
						left: 0;
						@include translate(0, -50%);
						width: 100%;									
					}
				}

				.hero-layers__graphic-caption {
					float: right;
					position: absolute;
					bottom: -1.85em;
					right: 0;
					font-size: 14px;

					@include media-breakpoint-up(md) {
						font-size: 18px;
					}

					@include media-breakpoint-up(xl) {
						bottom: -1.65em;
					}
				}

				&:hover {
					text-decoration: none;
					cursor: pointer;
					color: $color-text;

					.hero-layers__graphic-caption {
						text-decoration: underline;
					}
				}
			}
		}
	}



	// set opacity to 0 to some elements
	.hero-layers__graphic-unit,
	.hero-layers__title-part-1,
	.hero-layers__title-part-2,
	.hero-layers__cta,
	.hero-layers__scroll {
		opacity: 0; // for gsap hero animation
	}

	// scroll next link
	.hero-layers__scroll {
		position: absolute;
		bottom: 0;
	}
}
