.hero {
	padding: 2.5em 0 2em;

	@include media-breakpoint-up(md) {
		padding: 3em 0 2em;
	}

	@include media-breakpoint-up(xl) {
		padding: 4em 0 2em;
	}

	.hero__content {
		max-width: 550px;

		p:last-child {
			margin-bottom: .5em;
		}
	}

	.hero__img {
		min-height: 325px;
		background-size: cover;
		background-position: 50% 50%;

		@include media-breakpoint-up(md) {
			min-height: 500px;
		}

		@include media-breakpoint-up(xl) {
			min-height: 780px;
		}
	}
}