// rhombuses elements 

.rhombuses {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
  max-width: 350px;  

  .rhombuses__item {
    position: relative;
    width: 100%;
    height: 0; 
    padding-bottom: 100%;  

    &:nth-child(n+2) {
      margin-bottom: -44%;
    }

    .rhombuses__rhombus {
      margin: 0 auto;
      display: block;
      border: 2px solid $color-brand;
      background: $color-reverse;
      width: 100%;
      height: 0; 
      padding-bottom: 110%;   
      transform:rotateX(56deg) rotateZ(45deg);
      position: relative;
    }

    .rhombuses__text {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include font-size(18);
      font-weight: $weight-bold;

      @include media-breakpoint-up(md) { 
        @include font-size(20);
      }

      @include media-breakpoint-up(lg) { 
        @include font-size(24);
      }
    }

    .rhombuses__inner-img {
      width: 80%;
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 0;
      left: 50%;
      @include translate(-50%, -50%);
    }

    &.rhombuses__item--brand {
      .rhombuses__rhombus {
        background: $color-brand;
      }
      .rhombuses__text {
        color: $color-reverse;
      }
    }

    &.rhombuses__item--primary {
      .rhombuses__rhombus {
        border: 2px solid $color-primary;
        background: $color-primary;
      }
      .rhombuses__text {
        color: $color-reverse;
      }
    }

    &.rhombuses__item--dark {
      .rhombuses__rhombus {
        border: 2px solid $color-dark;
        background: $color-dark;
      }
      .rhombuses__text {
        color: $color-reverse;
      }
    }

    &.rhombuses__item--secondary {
      .rhombuses__rhombus {
        border: 2px solid $color-secondary;
        background: $color-secondary;
      }
      .rhombuses__text {
        color: $color-reverse;
      }
    }

    &.rhombuses__item--accent-outline {
      .rhombuses__rhombus {
        border: 2px solid $color-accent;
      }
    }
  }

  // layout variations
  &.rhombuses--horizontal {
    @include media-breakpoint-up(md) {
      width: 85%;
      flex-direction: row;
      max-width: none;
    }

    .rhombuses__item {

      @include media-breakpoint-up(md) {
        width: 33.33%;
        height: 0; 
        padding-bottom: 33.33%;
      }  

      &:nth-child(n+2) {

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
    }
  }

  // larger rhombuses that overlay on top of each other 
  &.rhombuses--large {
    width: 80%;
    max-width: 480px; 

    .rhombuses__item {
       &:nth-child(n+2) {
        margin-bottom: -79%;
      }

      .rhombuses__rhombus {
        transform: rotateX(58deg) rotateZ(38deg);
      }
    }
  }

  // larger rhombuses that overlay on top of each other with less spacing as the pne above
  &.rhombuses--large-collapsed {
    width: 65%;
    max-width: 480px; 
    opacity: 0; // for gsap animation

    .rhombuses__item {
      position: relative;
      top: -800px; // for gsap animation

      &:nth-child(n+2) {
        margin-bottom: -86%;
      }

      .rhombuses__rhombus {
        transform: rotateX(58deg) rotateZ(38deg);
      }
    }
  }
}