.tiles {
	// pool of images
	.tiles__pool {
		display: none;
	}

	.tiles__output {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -1%;

		.tile__img {
			width: 33.33%;
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: center center;
			height: 0;
			padding-bottom: 33.33%;
		}
	}

}