//
// Description: Layouts for forms
//

//
// Form created in Magnolia
//
#contact_us_form {
	label {
		display: none;

		&[for="about-project"] {
			display: block;
		}
	}

	fieldset > h2 {
		display: none;
	}

	input[type="submit"] {
		margin-top: 1em;
	}
}