// Brand colours
$color-brand:      #FF5350; // tangerine
$color-primary:    #283048; // dark blue 
$color-secondary:  #999DA8; // grey blu
$color-dark:       #535A6D; // dark blue grey
$color-highlight:  $color-brand;
$color-lowlight:   #F7F7F8; // Lightest grey
$color-subtle:     #EDEFEF; // Light grey

// Additional colours
$white:            #FFF;
$black:            $color-primary;
$color-text:       $color-primary;
$color-reverse:    $white;
$color-attention:  $color-highlight;
$color-background: $color-lowlight;