//
// Description: Useful classes for repetitive jobs
//

//
// Hide but keep accessible to screen readers
//
.hidden {
	position:absolute;
	left:-9999px;
}


//
// Inline soft reset
//
.base {
	margin:0;
	padding:0;
}
ul,
ol {
	&.base {
		list-style:none;
	}	
}


//
// Micro clearfix <http://nicolasgallagher.com/micro-clearfix-hack/>
//
.cf {
	*zoom:1;

	&:before,
	&:after {
		display:table;
		content:"";
	}
	&:after {
		clear:both;
	}
}

//
// Text alignment
//
.text-left {
	text-align:left;
}
.text-centre,
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}

//
// Floats
//
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}

//
// Spacing classes
//
.top-8 {
	margin-top: .5em;	
}
.top-16 {
	margin-top: 1em;
}
.top-24 {
	margin-top: 1em;
	@include media-breakpoint-up(md) {
		margin-top: 1.5em;
	}	
}
.top-32 {
	margin-top: 1em;
	@include media-breakpoint-up(md) {
		margin-top: 2em;
	}	
}
.top-48 {
	margin-top: 1.5em;
	@include media-breakpoint-up(md) {
		margin-top: 3em;
	}	
}
.below-8 {
	margin-bottom: .5em;
}
.below-16 {
	margin-bottom: 1em;
}
.below-24 {
	margin-bottom: 1em;

	@include media-breakpoint-up(md) {
		margin-bottom: 1.5em;
	}	
}
.below-32 {
	margin-bottom: 1.5em;

	@include media-breakpoint-up(md) {
		margin-bottom: 2em;
	}
}
.below-48 {
	margin-bottom: 1.5em;

	@include media-breakpoint-up(md) {
		margin-bottom: 3em;
	}
}