// Site footer
#site-footer {
	position: relative;
	background: $color-lowlight;
	padding: 2em 0;

	.container {
		position: relative;
	}

	p {
		margin-bottom: .4em;
	}

	a {
		color: $color-text;

		&:hover {
			color: $color-text;
		}

		&.btn {
			color: $color-reverse;

			&:hover {
				color: $color-brand;
			}
		}
	}

	.footer__img-link {
		display: block;

		img {
			display: block;
		}
	}

	.nav-title {
		margin-bottom: .95em;
	}

	// footer nav
	nav {

		> ul {
			list-style-type: none;
			padding: 0;
			margin-bottom: 0;

			> li {
				display:block;
				line-height: 1.2;
				margin-bottom: .15em;

				a {
					display: inline-block;
					padding: .35em 0;
					@include font-size(16);
					line-height: 1.2;
				}

				&:first-child {
					a {
						padding-top: 0;
					}
				}
			}
		}
	}

	.footer-logos {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		margin-bottom: 1.75em;

		@include media-breakpoint-up(lg) {
			float: right;
			margin-bottom: 0;
		}

		> * {
			display: block;
			padding: 0 16px;
		}
	}
}