/*
 * Site navigation
 * I hope you'll be able to make sense out of this code. I'm sorry, but styling WP 3 level navigation with
 * the same classes names on each level is not much fun. I tried to comment where possible. :)
*/


header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 200;
}

#site-header {
	box-sizing: border-box;
	width: 100%;
	background: transparent;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 10px;

	@include media-breakpoint-up(lg) {
		padding-top: 38px;
		padding-bottom: 16px;
	}

	.logo {
		@include transition();

		svg {
			width: 112px;
			height: 17px;

			@include media-breakpoint-up(md) {
				width: 140px;
				height: 21px;
			}

			@include media-breakpoint-up(lg) {
				width: 181px;
				height: 26px;
			}
		}

		&:hover {
			@include scale(1.02);
			opacity: 0.85;
		}
	}

	.menu-open {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
			@include font-size(20);
			font-weight: $weight-bold;
			cursor: pointer;
			@include transition();	
		}

		@include media-breakpoint-up(xl) {
			&:hover {
				color: $color-brand;
			}
		}
	}
}
	
#site-navigation {
	position: absolute;
	top: 0;
	right: 0;	
	left: -100%;
	opacity: 0;
	z-index: 100;
	margin: 0;
	width: 100%;
	@include transition(opacity, 0.25s, ease-out);
	background: $color-reverse;	
	width: 100%;

	@include media-breakpoint-up(md) {
		@media screen and (min-height: 700px) {
			position: fixed;
			bottom: 0;
			width: 100vw;
			height: 100vh;
		}
	}

	.nav-open & {
		left: 0;
		opacity: 1;
		box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.25);
	}

	.container {
		position: relative;
	}

	.site-navigation__inner {
		padding: 60px 30px;

		@include media-breakpoint-up(md) {
			padding-top: 25vh;
			width: 100%;
			max-width: 710px;
			margin: 0 auto;
		}
	}

	// Main navigation - Top level
	nav.main-nav {

		> ul {
			margin: 0;
			padding: 0;

			> li {
				display: block;
				margin-bottom: .75em;

				> a {
					position: relative;				
					text-decoration: none;
					@include font-size(32);
					line-height: 1.2;
					display: inline-block;					
					color: $color-text;
					@include transition();
					cursor: pointer;
					
					&:hover {
						color: $color-brand;
						text-decoration: none;
					}

					&:focus {
						outline: none;
					}
				}

				// Sub navigation
				&.dropdown {
					position: relative;

					> a {
						&:after {
							font-family: 'icomoon';
							content: "\e902";
							display: inline-block;
							font-size: 28px;
							color: $color-brand;
							margin-left: 10px;
							position: relative;
							top: 5px;
						}

						&.active:after {
							content: "\e901";
						}
					}

					> ul.sub-menu {
						margin: 0;
						max-height: 0;
						opacity: 0;	
						visibility: hidden;	
						@include transition(all, .35s, ease-in-out);
						padding: .25em .1em;

						&.is-open {
							max-height: 600px;		
							opacity: 1;
							visibility: visible;
							//padding: .4em .2em;
						}

						> li {
							display: block;

							> a { // column grouping title
								display: block;
								color: $color-text;	
								@include font-size(18);
								font-weight: $weight-bold;
								padding: .3em 0;	

								&:hover {
									color: $color-brand;
								}
							}
			
						}
					}	
				}
			}
		}
	}

	// Secondary 1 level nav
	.secondary-nav {
		list-style-type: none;
		padding: 0;
		margin: 0;

		> li {
			> a {
				@include font-size(16);
				padding: .5em 0;
				display: block;
				color: $color-text;

				@include media-breakpoint-up(md) {
					@include font-size(14);
				}

				&:hover {
					color: $color-brand;
				}
			}
		}
	}


	// Extra info copy
	.extra-info {
		p {
			margin-bottom: .6em;
		}

		a {
			color: $color-text;

			&:hover {
				color: $color-brand;
			}
		}
	}
}


// nav toggle icon
.navigation-toggle {
	width: 38px;
	height: 22px;
	cursor: pointer;
	outline: none;
	position: absolute;
	top: 25px;
	right: 17px;

	@include media-breakpoint-up(lg) {
		top: 50px;
		right: 35px;
	}

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $color-text;
		opacity: 1;
		left: 0;
		@include rotate(0deg);
		@include transition(all, .25s, ease-in-out);

		&:nth-child(1) {
			top: 0;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		&:nth-child(2) {
			top: 11px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}

		&:nth-child(3) {
			top: 22px;
			-webkit-transform-origin: left center;
			-moz-transform-origin: left center;
			-o-transform-origin: left center;
			transform-origin: left center;
		}
	}

	.nav-open & {
		width: 30px;
		span {
			&:nth-child(1) {
				@include rotate(45deg);
				left: 4px;			
			}

			&:nth-child(2) {
				width: 0%;
				opacity: 0;
			}

			&:nth-child(3) {
				@include rotate(-45deg);
				left: 4px;
				top: 21px;
			}
		}
	}
}